<% cache [ match_day, team, :team_form ] do %>
<% form_matches = team.form_matches(match_day) %>
<% if !form_matches.nil? && form_matches.any? %>
    <% form_matches.each do |match| %>
        <span class="form-result <%= match.result(team) %>"><%= link_to match.result(team)[0].upcase, match, title: "#{match.home_team.name} #{match.home_team_goals} - #{match.away_team.name} #{match.away_team_goals}", data: { toggle: "tooltip-ajax" } %></span>
    <% end %>
<% else %>
    No matches played.
<% end %>
<% end %>
