<% club_crest ||= :show
   label ||= :name
   name = (label == :name ? team.name : team.code)
%>
<span class="team"><% if !team.dummy? then %><% if club_crest == :show then %><%= render 'teams/club_crest', team: team, style: :icon %><% end %><%= link_to name, team, class: "model-link" %><% else %>None<% end %></span>