<% provide :title, @team.name
   provide :breadcrumbs, breadcrumbs([ :index , :select_name, :select_season ]) %> 

<h1><%= @team.name %></h1>
<%= render 'layouts/administration_links', resource: @team %>
