<% provide :title, "Season #{@season.name}"
   provide :breadcrumbs, breadcrumbs([ :index , :select ]) %> 

<h1>Season <%= @season.name %></h1>
<%= render 'shared/administration_links', resource: @season %>
