<% provide :title, "#{@premier_league.name} table"
   provide :breadcrumbs, breadcrumbs([ @premier_league.season, @premier_league , "Table", :select_table ]) %> 
  
<h1><%= @premier_league.name %> <%= @premier_league.season.name %></h1>

<h2>League table</h2>

<%= render 'team_table_stats/datatable' %>