<% provide :title, "#{@premier_league.name} table"
   provide :breadcrumbs, breadcrumbs([ @premier_league.season, @premier_league , "Table", :select_table ]) %> 
  
<h1><%= @premier_league.name %> <%= @premier_league.season.name %></h1>

<h2>League table</h2>

<p>
Standings after match day
<% @match_day = @premier_league.match_days.current %>
<%= collection_select :match_day, :id,
      @premier_league.match_days, :id, :match_day_number, {}, { onchange: 'filterDatatable("match_day_id",this.value)'} %>
</p>

<%= render 'team_table_stats/datatable' %>
