<% d11_team ||= @d11_team %>
<%= render layout: 'layouts/context_menu_dropdown', locals: { resource: d11_team } do  %>
    <li class="dropdown-header"><%= d11_team.name %></li>
    <li><%= link_to "D11 team squad #{@season.name}", show_season_d11_team_path(d11_team, @season), class: "model-link" %></li>
    <li><%= link_to "Fixtures and results #{@season.name}", show_fixtures_d11_team_path(d11_team, @season), class: "model-link" %></li>
<% end %>
