<% cache [ d11_match_day, d11_team, :d11_team_form ] do %>
<% form_d11_matches = d11_team.form_matches(d11_match_day) %>
<% if !form_d11_matches.nil? && form_d11_matches.any? %>
    <% form_d11_matches.each do |d11_match| %>
        <span class="form-result <%= d11_match.result(d11_team) %>"><%= link_to d11_match.result(d11_team)[0].upcase, d11_match, title: "#{d11_match.home_d11_team.name} #{d11_match.home_team_goals} - #{d11_match.away_d11_team.name} #{d11_match.away_team_goals}", data: { toggle: "tooltip-ajax" } %></span>
    <% end %>
<% else %>
    No matches played.
<% end %>
<% end %>