<div class="main-section">
  <h3>Fixtures</h3>
  <% if d11_match_day.d11_matches.any? %>
    <% d11_match_day.match_dates.each do |match_date| %>        
      <h4><%= (match_date.to_datetime.postponed? ? "Postponed" : match_date.to_formatted_s(:match_date)) %></h4>
      <%= render 'd11_match_days/match_date_fixtures', d11_match_day: d11_match_day, match_date: match_date %>                        
    <% end %>
  <% else %>
    <div class="match-date-fixtures">
      There are no fixtures for this match day yet. Stay tuned.
    </div>
  <% end %>
</div>
