<% provide :title, "D11 Match Day #{@d11_match_day.match_day_number}"
   provide :breadcrumbs, breadcrumbs([ @d11_match_day.d11_league.season, @d11_match_day.d11_league, :select_name ],  d11_league: @d11_match_day.d11_league) %> 
  
<h1><%= @d11_match_day.name %></h1>
<%= render 'layouts/administration_links', resource: @d11_match_day %>
