<% d11_match ||= @d11_match %>
<%= render layout: 'layouts/context_menu_dropdown', locals: { resource: d11_match} do  %>
    <li class="dropdown-header"><%= d11_match.home_d11_team.code %> vs <%= d11_match.away_d11_team.code %></li>
    <li><%= link_to "D11 #{d11_match.d11_match_day.name}", d11_match.d11_match_day %></li>
<% end %>

