<table class="transfer-listings simple data table-striped table-hover">
  <thead>
    <%= render 'transfer_listings/simple_table_header' %>
  </thead>
  <tbody>    
    <% transfer_listings.each do |transfer_listing| %>    
      <%= render 'transfer_listings/simple_table_row', transfer_listing: transfer_listing %>
    <% end %>
  </tbody>
</table>