<tr>
  <td class="player-column main-column"><%= render transfer_listing.player %></td>
  <td class="team-column"><%= render transfer_listing.team, label: :code %></td>
  <td class="points-column number-column"><%= transfer_listing.points %></td>
</tr>
