<div id="transfer-day-top-transfer-listings" class="related-section">
  <h3>Top Available Players</h3>
  <p>Show <%= link_to "all available players", show_transfer_listings_transfer_day_path(transfer_day), class: "model-link" %> for this transfer day.</p>
  <% if !transfer_day.transfer_listings.empty? %>
  <%= render 'transfer_listings/simple_table', transfer_listings: @transfer_day.transfer_listings.limit(10) %>
  <% else %>
  <p>No transfer listings have yet been registered for this transfer day.</p>
  <% end %>      
</div>
