<% transfer_window ||= @transfer_window %>
<%= render layout: 'layouts/context_menu_dropdown', locals: { resource: transfer_window } do  %>
    <li class="dropdown-header"><%= transfer_window.name %></li>
    <% transfer_window.transfer_days.each do | transfer_day | %>
    <li><%= render transfer_day %></li>
    <% end %>
<% end %>
