<% provide :title, "Rules"
   provide :breadcrumbs, breadcrumbs([ "Rules" ]) %> 

<h1>Rules</h1>

<p>
  Rule #1: When something occurs that is not explicitly explained in the rules but where
  there is a precedent based on how we've done things in the past, that precedent will
  serve as a rule.
</p>
<p>
  The scoring in the competition is based on the matches in the English Premier League.    
</p>
<p>
  Points scored in rescheduled matches will be counted for the match day the match was
  originally scheduled for. Example: Match day 5 is played on November 10th. The match
  between Arsenal and Aston Villa is rescheduled for March 5th. The points scored in
  that game will be added to the results in match day 5 when the match is played.
</p>

<h2>Scoring</h2>
<p>
  The teams in the D11 league will play each other twice every season in 38 match days. The team
  that scores the most goals in each match will gain 3 points, the loser will gain 0 points. If
  the game ends in a draw both teams will get 1 point each.
</p>
<p>
  Goals are awarded based on the number of player points the team accumulates in each match.
</p>

<table id="scoring" class="simple rules-table">
  <colgroup>
    <col id="player-points-column"/>
    <col id="goals-for-player-points-column"/>
  </colgroup>
  <tr>
    <th>Points</th>
    <th>Goals</th>
  </tr>
  <tr>
    <td>Below 1</td>
    <td>0</td>
  </tr>
  <tr>
    <td>1-4</td>
    <td>1</td>
  </tr>
  <tr>
    <td>5-9</td>
    <td>2</td>
  </tr>
  <tr>
    <td>10-14</td>
    <td>3</td>
  </tr>
  <tr>
    <td>15-19</td>
    <td>4</td>
  </tr>
  <tr>
    <td>20-24</td>
    <td>5</td>
  </tr>
  <tr>
    <td>25-29</td>
    <td>6</td>
  </tr>
  <tr>
    <td>30-34</td>
    <td>7</td>
  </tr>
  <tr>
    <td>Etc.</td>
    <td>Etc.</td>
  </tr>
</table>

<p>
  The team with the most points after 38 match days wins the league. If two or more
  teams have the same number of points, the team who's scored the most goals wins.
  If two or more teams still can't be separated, the team who's conceded the most goals wins.
  If a winner still can't be found the league will be decided by a penalty shootout at Nabben stadium.
</p>
<p>
  The fixture list will be made after the draft and published on this website.
</p>
<p>
  Match stats and ratings will be taken from www.whoscored.com. If Whoscored for some reason
  fail to produce stats or ratings then stats will be taken from www.premierleague.com and ratings
  will be taken from www.skysports.com.
</p>
<p>
  <b>NOTE: NEW!</b> The Man of the Match (MoM) for each team in a Premier League match will be
  the player with the highest rating on www.whoscored.com. If two players on the same team share
  the highest rating then both of them will be shared MoM. If three or more players on the same team
  share the highest rating then no MoM will be chosen for that team.
</p>

<h2>Player points</h2>

<p>
  Each player will score points during a Premier League match according to this table.
</p>

<table id="player-points" class="simple rules-table">
  <colgroup>
    <col id="poanggrund_alla_column"/>
    <col id="poang_alla_column"/>
    <col id="poanggrund_forsvarare_column"/>
    <col id="poang_forsvarare_column"/>
  </colgroup>
  <tr>
    <th class="poanggrund">Poänggrund</th>
    <th>Alla</th>
    <th class="poanggrund">Poänggrund</th>
    <th>Mv/back</th>
  </tr>
  <tr>
    <td class="poanggrund">Rating 10</td>
    <td>5</td>
    <td class="poanggrund">1 insläppt mål</td>
    <td>OBS! Nyhet: 0</td>
  </tr>
  <tr>
    <td class="poanggrund">Rating 9</td>
    <td>3</td>
    <td class="poanggrund">2 insläppta mål</td>
    <td>OBS! Nyhet: -1</td>
  </tr>
  <tr>
    <td class="poanggrund">Rating 8</td>
    <td>2</td>
    <td class="poanggrund">3 insläppta mål</td>
    <td>OBS! Nyhet: -2</td>
  </tr>
  <tr>
    <td class="poanggrund">Rating 7</td>
    <td>1</td>
    <td class="poanggrund">4 insläppta mål</td>
    <td>OBS! Nyhet: -3</td>
  </tr>
  <tr>
    <td class="poanggrund">Ingen rating</td>
    <td>0</td>
    <td class="poanggrund">O.s.v</td>
    <td>O.s.v</td>
  </tr>
  <tr>
    <td class="poanggrund">Rating 6</td>
    <td>0</td>
    <td class="poanggrund">Håller nollan</td>
    <td>4</td>
  </tr>
  <tr>
    <td class="poanggrund">Rating 5</td>
    <td>-1</td>
    <td class="poanggrund">Ej spelat</td>
    <td>-1</td>
  </tr>
  <tr>
    <td class="poanggrund">Rating 4</td>
    <td>-2</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="poanggrund">Rating 3</td>
    <td>-3</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="poanggrund">Rating 2</td>
    <td>-4</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>                    
  </tr>
  <tr>
    <td class="poanggrund">Rating 1</td>
    <td>-5</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="poanggrund">Rating 0</td>
    <td>-6</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>                
  <tr>
    <td class="poanggrund">MoM</td>
    <td>4</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="poanggrund">Delad MoM</td>
    <td>2</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="poanggrund">Mål</td>
    <td>4</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="poanggrund">Assist</td>
    <td>2</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>                    
  <tr>
    <td class="poanggrund">Självmål</td>
    <td>-4</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="poanggrund">Ej spelat - mf/anf</td>
    <td>0</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="poanggrund">Gult kort</td>
    <td>-1</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="poanggrund">Rött kort</td>
    <td>-4</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>

<p>
    OBS! Nyhet: Eftersom Whoscored.com startar sina ratings från 6.00 så får spelare poäng för
    ratings oberoende av hur många minute de spelat.
</p>

<h4>Anmälningsavgift</h4>

<ul>
    <li>Anmälningsavgiften är 40 euro. Denna summa går oavkortat till prispengar
        för de deltagare som kommer på första, andra och tredje plats. De exakta
        summorna som betalas ut till var och en beror på antalet deltagare. Om vi
        har 20 deltagare blir prissummorna 400, 250 och 150 euro.
    </li>
</ul>

<h4>Budgivningen</h4>

<ul>
    <li>Preliminärt datum för budgivningen är någon gång just före säsongen börjar. Plats och
        tidpunkt meddelas senare.</li>
    <li>Kom i god tid! Laget man då skrapat ihop är i aktion första
        gången lördagen den 16 augusti. Preliminär spelarlista finns
        att tillgå på denna website.</li>
    <li>Ordinarie lista ges vid budgivningen.</li>
    <li>Antalet deltagare i tävlingen kan vara högst 20 eftersom det
        inte finns fler lag i Premier League. Ifall fler än 20 önskar
        deltaga så kan så många som det behövs bilda lag.</li>
    <li>Budgivning hålls i princip som en auktion. Förra säsongens segrare
        får först välja en spelare att bjuda på. Han kan välja
        vilken spelare som helst från listan. Sedan är det fri auktion
        (vem som helst får höja budet utan turordning) på spelaren och
        högsta budet får spelaren i sitt lag. Man kan naturligtvis inte
        ångra sig när man en gång fått en spelare.</li>
    <li>Ingen kommer att ha samma spelare i sitt lag som någon annan.</li>
    <li>Alla deltagare har £50 miljoner att spendera på sitt lag.</li>
    <li>Det finns inga begränsningar på hur många spelare från varje lag man har.</li>
    <li>Det finns inga givna priser på spelarna, förutom att minimipriset på
        alla spelare är 0,5. Man måste även bjuda minst 0,5 mer än nuvarande
        högsta bud ifall man vill bjuda över.</li>
    <li>Laget skall bestå av målvakt, 4 försvarare, 4 mittfältare och 2 anfallare (4-4-2).</li>
    <li>Det är viktigt att hålla koll på att man inte bjuder mer än man
        har råd med. Se alltså till att du åtminstone har kvar så mycket
        pengar att du får ihop ett lag! Säkert händer det att någon ändå
        bjuder över sina tillgångar. Det kontrolleras varje gång någon
        fått hem en spelare. Har så skett så blir det ombjudning på just
        den aktuella spelaren.</li>
</ul>

<h4>OBS! Nyhet: Bytessystemet</h4>
<ul>
    <li>
        Transferfönster öppnar i början av månaderna oktober, december, februari och april.
        Exakta datum meddelas närmare bytestillfället.
    </li>
    <li>
        OBS! Nyhet: När som helst före transferfönstret öppnar kan du logga in på siten och transferlista spelare.
        Spelarna kommer tillsvidare att vara kvar i ditt lag och före transferfönstret stänger kan du kan även ångra 
        alla transferlistningar du gjort. Endast du själv kan se vilka spelare som finns på din transferlista före
        transferfönstret öppnar.
    </li>
    <li>
        OBS! Nyhet: Då transferfönstret öppnar kommer alla spelare du transferlistat att försvinna från ditt lag.
        Då detta är gjort är det får sent att ångra sig. Se till att inga spelare du vill ha kvar i ditt lag är 
        transferlistade då deadline för transferlistning passerar!
    </li>                
    <li>
        Alla spelare du transferlistat är fr.o.m transferlistningen borta ur ditt lag.
        För att få behålla en listad spelare måste du alltså vinna budgivningen på honom igen.
    </li>                
    <li>
        OBS! Nyhet: Då transferfönstret öppnar kommer du att kunna logga in och ge bud på tillgängliga spelare. Tillgängliga
        spelare är de spelare som inte tillhörde någon deltagare före transferfönstret öppnade samt alla transferlistade spelare.
        Du kan alltså även bjuda på de spelare du själv transferlistat.
    </li>                
    <li>Precis som vid budgivningen kan man bjuda och "höja" minst 0.5. Alla bud skall således
        sluta på .0 eller .5. Observera att det högsta bud du kan ge på en spelare måste ta i
        beaktande att man måste betala minst 0.5 på varje position. Om man har listat tre
        spelare och har 10.0 att spendera är alltså det högsta budet på en enskild spelare
        som kan lyckas 9.0. OBS! Nyhet: Maxbudet kommer att visas på sidan där du skickar in dina bud.</li>                                
    <li>
        OBS! Nyhet: Före deadline för bud passerat kan du ändra och/eller ta bort inskickade bud. Efter att deadline för bud
        passerat är det för sent att ändra eller lägga till. Se till att dina bud ser ut som du har tänkt före deadline för
        bud passeras.
    </li>                                
    <li>
        OBS! Nyhet: Alla bud läggs i en hög och om man t.ex behöver två mittfältare så får du de två första mittfältarna
        du först lyckas få lyckade bud på.
    </li>                
    <li>
        OBS! Nyhet: Du får bara lägga ett bud på varje spelare. Detta bud är ett "upp till" bud, dvs maxbudet du vill ge för spelaren. 
        Om du har det högsta budet blir summan du till slut får betala 0.5 högre än det näst högsta budet. Ex: Deltagare A bjuder 15.0 för 
        spelare S. Det näst högsta budet är deltagare B som bjuder 10.0. Deltagare A får spelare S för 10.5.                    
    </li>
    <li>
        OBS! Nyhet: Spelarna "bjuds ut" i poängordning. Den tillgängliga spelare som har mest poäng på buddagen går som första spelare 
        till den deltagare som hade högsta budet på honom. Sedan går den spelaren som hade näst mest poäng till den deltagare som hade 
        högsta budet på honom, osv, osv. Om två spelare har lika många poäng bjuds de ut i bokstavsordning. Listan på tillgängliga spelare
        för varje transferfönster är sorterad enligt den ordning spelarna kommer att bjudas ut.
    </li>
    <li>Vem får spelaren? Den som har högsta budet på en spelare får honom.
        Om budet är lika får den deltagare som ligger sämre till i
        tävlingen spelaren.</li>                
    <li>
        OBS! Nyhet: Pengar som spenderats på lyckade bud tas bort från bud som inte hanteras än. Ex: Deltagare A har 15.0 som maxbud och 
        bjuder 15.0 på spelare S och 15.0 på spelare P. Spelare S har mer poäng än spelare P och går först och deltagare A får honom för 10.5. 
        Efter det är deltagare As maxbud 4.5, så budet på spelare P justeras ner till 4.5.
    </li>
    <li>Om man inte lyckats få ett enda av de alternativ man bjudit på så
        får man försöka igen nästa dag. Då får alla som inte fått ersättare skicka
        in nya bud på spelare för de positioner de fortfarande behöver spelare på. Om
        man fortfarande inte fått ersättare upprepas produren en gång till nästa dag,
        osv, osv tills dess alla fått fullt lag. Deadline för att hinna få med sina byten
        varje bytesdag är kl 22.00 den dagen.</li>
    <li>Om en omgång i Premier League har hunnit börja innan alla har hunnit få fullt
        lag så spelar de olyckliga deltagarna med försvagat manskap i den omgången. Vi kommer att
        försöka välja listningsdatum och budgivningsdatum så att det finns tillräckligt många
        dagar för att de som vill ha fullt lag skall kunna få det.</li>
    <li>Om du köpt en spelare till t ex omgång 30 och hans lag har spelat
        matchen i omgång 30 tidigare, så kommer den nya spelarens
        poäng att räknas.</li>
</ul>
<p>
    Fråga gärna om det är något du funderar över!
</p>
</div>
        