<% cache [ transfer_day, :transfer_day_highest_bids ] do %>
<div id="transfer-day-highest-bids">
  <h3>Highest Bids</h3>
  <p>Show <%= link_to "all bids", show_transfer_bids_transfer_day_path(transfer_day), class: "model-link" %> for this transfer day.</p>
  <% if !transfer_day.transfer_bids.empty? %>
  <%= render 'transfer_bids/simple_table', transfer_bids: transfer_day.transfer_bids.reorder(fee: :desc).limit(10) %>
  <% else %>
  <p>No bids have yet been registered for this transfer day.</p>
  <% end %>      
</div>
<% end %>