<tr>
  <td class="player-column main-column"><%= render transfer_bid.player %></td>
  <td class="d11-team-column"><%= render transfer_bid.d11_team, label: :code %></td>
  <td class="fee-column number-column"><%= player_value transfer_bid.fee %></td>
</tr>
