<% player ||= @player %>
<%= render layout: 'layouts/context_menu_dropdown', locals: { resource: player } do  %>
    <li class="dropdown-header"><%= player.name %></li>
    <li><a href="#">Add to shortlist</a></li>
    <li><a href="#">Remove from shortlist</a></li>    
    <li><a href="#">Add to transfer list</a></li>
    <li><a href="#">Remove from transfer list</a></li>
    <li><a href="#">Make transfer bid</a></li>
<% end %>
