<% cache [ season, player] do %>
<% form_player_match_stats = player.form_player_match_stats(season) %>
<% if !form_player_match_stats.nil? %>
  <% form_player_match_stats.each do |player_match_stat| %>
    <span class="form-points <% if player_match_stat.points > 0 %>positive<% elsif player_match_stat.points < 0 %>negative<% else %>neutral<% end %>"><%= player_match_stat.points %></span>
  <% end %>
<% else %>
  No matches played.
<% end %>
<% end %>