<div class="match-details events">
  <dl class="match-events">
    <% goals = match.goals.where(team: team)
       if goals.any? then %>
        <dt class="goals">Goals:</dt>
        <dd class="goals">
          <ul>
            <% goals.each do |goal| %>
            <li><%= render goal %></li>
            <% end %>
          </ul>
        </dd>      
    <% end %>
    <% cards = match.cards.where(team: team)
       if cards.any? then %>
      <dt class="cards">Cards:</li>
      <dd class="cards">
        <ul>
          <% cards.each do |card| %>
          <li><%= render card %></li>
          <% end %>
        </ul>
      </dd>
    <% end %>
    <% substitutions = match.substitutions.where(team: team)
       if substitutions.any? then %>
      <dt class="substitutions">Substitutions:</dt>
      <dd class="substitutions">
        <ul>
          <% substitutions.each do |substitution| %>
          <li><%= render substitution %></li>
          <% end %>
        </ul>
      </dd>
    <% end %>    
  </dl>
</div>
