<% provide :title, @match.name
   provide :breadcrumbs, breadcrumbs([ @match.match_day.premier_league.season, @match.match_day.premier_league, @match.match_day, :select_name ],  match_day: @match.match_day ) %> 
  
<h1><%= @match.name %></h1>
<%= render 'layouts/administration_links', resource: @match %>
