<table class="match-result">
  <tbody>
    <tr>
      <td class="name-column"><%= @match.home_team.name %></td>
      <td class="number-column"><%= @match.home_team_goals %></td>
    </tr>
    <tr>
      <td class="name-column"><%= @match.away_team.name %></td>
      <td class="number-column"><%= @match.away_team_goals %></td>
    </tr>   
  </tbody>         
</table>