<% d11_league ||= @d11_league %>
<%= render layout: 'layouts/context_menu_dropdown', locals: { resource: d11_league } do  %>
    <li><%= render d11_league %></li>
    <li><%= link_to "Current match day", d11_league.d11_match_days.current, class: "model-link" %></li>
    <li><%= link_to "League table", show_table_d11_league_path(d11_league), class: "model-link" %></li>
<% end %>
