<% provide :title, "Posts"
   provide :breadcrumbs, breadcrumbs([ :index ]) %>
 
<h1>Posts</h1>

<% @posts.each do | post | %>
<%= render post %>
<% end %>

<%= render 'layouts/will_paginate', objects: @posts %> 
 