<% provide :title, "New post"
   provide :breadcrumbs, breadcrumbs([ :index, :title ]) %>
   
<h1>New Post</h1>
<div class="section">
  
  <div class="form-context">
    <p>Enter a topic and some content to share your wisdom with the D11 world.</p>
  </div> 

  <%= render "form" %>
  
  <div class="form-context-image">
    <%= image_tag "context/form.png", alt: "Context images." %>
  </div>
  
</div> 