<%
  total ||= 0.0
  non_dummy_transfers = transfers.joins(:d11_team).where(d11_teams: { dummy: false })
%>
<% if non_dummy_transfers.any? %>
<table class="transfers data table-striped table-hover">
  <thead>
    <%= render 'transfers/player_transfers_table_header' %>
  </thead>
  <tbody>    
    <% non_dummy_transfers.each do |transfer| %>    
      <%= render 'transfers/player_transfers_table_row', transfer: transfer %>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" style="text-align: right; border-right: none"><b>Total:</b></td>
      <td><%= player_value total %></td>
    </tr>
  </tfoot>         
</table>
<% else %>
<p>No transfer history available.</p>
<% end %>
