<tr>
  <td class="player-column main-column"><%= render transfer.player %></td>
  <td class="d11-team-column"><%= render transfer.d11_team, label: :code %></td>
  <td class="fee-column number-column"><%= player_value transfer.fee %></td>
</tr>
