<% total ||= 0.0 %>
<table class="transfers data table-striped table-hover">
  <thead>
    <%= render 'transfers/table_header' %>
  </thead>
  <tbody>    
    <% transfers.joins(:d11_team).where(d11_teams: { dummy: false }).each do |transfer|
        total = total + transfer.fee %>    
      <%= render 'transfers/table_row', transfer: transfer %>
    <% end %>
  </tbody>
  <tfoot>
      <td colspan=9" class="summary simple">Total fees:</td>
      <td colspan=10" class="summary detailed">Total fees:</td>
      <td class="fee-column number-column"><%= player_value total %></td>
    </tr>
  </tfoot>         
</table>