// Colours

$d11-blue: #061958;
$d11-blue-gray: #597090;
$d11-gray: #717984;

$table-header-colour: white;
$table-header-background-colour: $d11-gray;
$table-border-colour: $d11-gray;
$table-model-link-colour: $text-color;
$table-footer-background-colour: whitesmoke;

$panel-heading-background-colour: $d11-gray;
$dropdown-button-colour: $d11-gray;
$dropdown-divider-bg: $d11-gray;

$tooltip-header-colour: $dropdown-header-color;
$tooltip-photo-bg-colour: $tooltip-bg;
$tooltip-photo-border-colour: $tooltip-bg;


$positive-color: darkgreen;
$neutral-color: gray;
$negative-color: firebrick;

$win-color: $positive-color;
$draw-color: $neutral-color;
$loss-color: $negative-color;

//#8397B2 -> #647C9F -> #4F6480
//#A3B1C6 -> #8397B2 -> #647C9F
//#C2CCD9 -> #A3B1C6 -> #8397B2

$table-champions-league-color: lighten($d11-blue-gray, 10%);
$table-champions-league-qualifier-color: lighten($table-champions-league-color, 10%);
$table-europa-league-color: lighten($table-champions-league-color, 20%);
$table-midtable-color: $body-bg;
$table-relegation-color: lighten($table-champions-league-color, 10%);
