h1 {    
    button.dropdown-toggle {
        font-size: 18px;
    }
}

h2 {    
    button.dropdown-toggle {
        font-size: 16px;
    }
}

h3 {
    div.context-menu {
        button.dropdown-toggle {
            margin-top: -3px;
        }
    }
}

td {
    button.dropdown-toggle {
        font-size: 14px;
        margin-top: -1px;
        max-height: 18px;
    }    
}
div.context-menu.dropdown {
    display: inline;
    
    button.dropdown-toggle {
        padding: 0px;
        margin-left: -3px;        
        width: 24px;
        height: 24px;
        background-color: transparent;                
        vertical-align: top;        
        
        i.fa {
            color: $dropdown-button-colour;
        }                
    }
    
    ul.dropdown-menu {
        margin-top: -2px;
        margin-right: -5px;
        min-width: 0px;

        li {
            font-family: $dropdown-font-family;
            font-weight: $dropdown-font-weight;
            font-size: $dropdown-font-size;
            
            form {
                padding-top: 3px;
                padding-bottom: 3px;
            }
        }

        li.dropdown-header {
            font-family: $dropdown-header-font-family;
            font-weight: $dropdown-header-font-weight;
            font-size: $dropdown-header-font-size;
            //text-transform: uppercase;
        }
    }
    
    button.dropdown-toggle:focus {
        outline: 0;
    }
    
    button.dropdown-toggle:active {
        box-shadow: none;
    }    
}

div.panel-heading {
    div.context-menu.dropdown {
        float: right;
        
        button.dropdown-toggle {
            margin-top: 2px;
            margin-right: -5px;
            
        }        
    }
}

@media only screen and (min-width: $screen-phone-landscape-min) and (max-width: $screen-phone-landscape-max) {
    div.premier-leagues {
        // In phone landscape size a left aligned menu will go outside the screen so align it to the right instead.
        ul.dropdown-menu-left {
            // Don't actually need it as long as we're display: blocking the season name span.
            //left: auto;
            //right: 0;
        }
    }
}

@media only print {
    div.context-menu.dropdown {
        display: none !important;    
    }
}
