div.context-menu.dropdown {
    display: inline;
    
    button.dropdown-toggle {
        padding: 0px;
        margin: 0px;
        width: 22px;
        height: 22px;
        background-color: transparent;
    }
    
    ul.dropdown-menu {
        margin-top: -2px;
        margin-right: -5px;
        min-width: 0px;

        li {
            font-family: $dropdown-font-family;
            font-weight: $dropdown-font-weight;
            font-size: $dropdown-font-size;
        }

        li.dropdown-header {
            font-family: $dropdown-header-font-family;
            font-weight: $dropdown-header-font-weight;
            font-size: $dropdown-header-font-size;
            //text-transform: uppercase;
        }
    }
    
    button.dropdown-toggle:focus {
        outline: 0;
    }
    
    button.dropdown-toggle:active {
        box-shadow: none;
    }    
}

div.panel-heading {
    div.context-menu.dropdown {
        float: right;
        
        button.dropdown-toggle {
            margin-top: 2px;
            margin-right: -5px;
            
        }        
    }
}

@media only screen and (min-width: $screen-phone-landscape-min) and (max-width: $screen-phone-landscape-max) {
    div.premier-leagues {
        // In phone landscape size a left aligned menu will go outside the screen so align it to the right instead.
        ul.dropdown-menu-left {
            // Don't actually need it as long as we're display: blocking the season name span.
            //left: auto;
            //right: 0;
        }
    }
}