div.d11-leagues {
    div.d11-team-season-squad-stat.simple {
        min-height: 539px !important;
        @include make-sm-column(6);
        @include make-md-column(4);
        @include make-lg-column(3);
        
        table.player-season-infos.simple {
            .position-column {
                min-width: 30px;
                text-align: center;
            }
            tfoot {
                td.fee-column {
                    border-left: none;   
                }
            }
        }
    }
}
@media only screen and (min-width: $screen-tablet-portrait-min) {
    div.d11-leagues {
        ul.context-links {
            li#d11-league-select {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: $screen-phone-landscape-max) {
    div.d11-leagues {
        span.season-name {
            display: block;
        }
        ul.context-links {
            li#d11-league-select {
                margin-top: 4px;
            }
        }
    }    
}

@media only print {
    div.d11-leagues {    
        div.d11-team-season-squad-stat.simple {
            @include make-xs-column(3);
        }
    }
}