div.d11-matches.show {
    dl.match-details.detailed {
        padding: 0px;
        //min-width: 280px;
        dt {
            float: left;
            white-space: nowrap;
        }
        
        dd {
            margin-left: 70px;                
        }
    }
    
    table.player-match-stats {
        .d11-team-column,
        .date-column,
        .date-column.short {
            display: none !important;
        }
        
        .match-column {
            @extend .hidden-xs;
        }        
    }
}
