body {
    //font-family: "Open Sans";
    //font-weight: 300;

    background-color: whitesmoke;
    
    .accessibility {
        display: none;
    }
    
    main {
        background-color: white;
                
        h1, h2 {
            margin-top: 10px;
        }
        
        h3 {
            margin-top: 5px;            
        }
        
        h4 {
            min-height: 20px;
            margin-top: 0px;
            margin-bottom: 10px;
        }
        
        p.administration-links,
        p.navigation-links {
            margin-top: -12px;
        }

        h1 + p.administration-links,
        h1 + p.navigation-links {
            margin-top: -16px;
        }
                                
        div.brief-info {
            @include make-sm-column(6);
            @include make-md-column(3);
                        
            h3 {
                margin-top: 0px;
            }            
        }
        
        div.image-container {
            text-align: center;
        }
        
        span.points {
            span.value {
                font-size: 46px;
            }
        }
        
        span.ranking,
        span.goals {
            span.value {
                font-size: 32px;
            }        
        }
        
        a.toggle,
        a.toggle:hover {
            color: $d11-gray;            
        }
    }
    
    main > div.content {
        @extend .container;
//        padding-left: 10px;
//        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
                
        div.section {
            div.main-section {
                @include make-md-column(8);
                @include make-lg-column(9);
            }
            
            div.related-section {
                @include make-md-column(4);
                @include make-lg-column(3);
            }
            
            div.sub-section {
                @include make-sm-column(6);
                @include make-md-column(4);
                @include make-lg-column(3);
            }
        }

        ul.context-links {
            list-style: none;
            padding-left: 0px;
            
            form.onchange-submit-form {
                display: inline;
            }
        }
        
        span.ajax-selector {
            .disabled {
                display: none;
            }
        }
        
        div.photo-caption {
            h3 {
                background: rgba(0, 0, 0, 0.6);
                color: white;
                padding: 7px 15px;
            }
        }
    }
    
    div.section {
        @extend .row;
    }
        
    ul.related {
        @extend .list-inline;
    }    
}


@media only print {
    header {
        display: none;
    }
    
    nav {
        display: none;        
    }
    
    ol.breadcrumb {
        display: none;
    }
    
    a[href]:after {
      content: none;
    }

    table.match-date-fixtures {
        .team-simple-column,
        .result-simple-column {
            display: none;
        }        
    }
    
    table.league-table {
        .form-column {
            display: none;
        }
    }
    
    div.content.match-days.show {
        div.related-section {
            page-break-before: always;
        }
    }
    
    footer {
        display: none;
    }
}