body {
    //font-family: "Open Sans";
    background-color: whitesmoke;
    
    .accessibility {
        display: none;
    }
    
    main {
        background-color: white;
        
        h1 {
            margin-bottom: 20px;
        }
        
        p.administration-links,
        p.navigation-links {
            margin-top: -12px;
        }

        h1 + p.administration-links,
        h1 + p.navigation-links {
            margin-top: -16px;
        }
                                
        div.brief-info {
            @include make-sm-column(6);
            @include make-md-column(3);
                        
            h3 {
                margin-top: 0px;
            }            
        }
        
        div.image-container {
            text-align: center;
        }
        
        span.points {
            span.value {
                font-size: 46px;
            }
        }
        
        span.ranking,
        span.goals {
            span.value {
                font-size: 32px;
            }        
        }        
    }
    
    main > div.content {
        @extend .container;
//        padding-left: 10px;
//        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        
        h1 {
            margin-top: $padding-large-vertical;
        }
        
        div.section {
            div.main {
                @include make-md-column(8);
                @include make-lg-column(9);
            }
            
            div.related {
                @include make-md-column(4);
                @include make-lg-column(3);
            }
            
            div.sub-section {
                @include make-sm-column(6);
                @include make-md-column(4);
                @include make-lg-column(3);
            }
        }
    }
    
    div.section {
        @extend .row;
    }
    
    ul,ol {
        list-style: none;
        padding-left: 0px;
    }
    
    ul.related {
        @extend .list-inline;
    }
}
