body {
    font-weight: 300;
    background-color: whitesmoke;
    
    .accessibility {
        display: none;
    }
    
    main {
        background-color: white;
        
        ol.breadcrumb {
            @extend .hidden-xs;
            
            form.onchange-submit-form {
                display: inline;    
            }            
        }        
    }
    
    main > div.content {
        @extend .container;
//        padding-left: 10px;
//        padding-right: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        
        h1 {
            margin-top: $padding-large-vertical;
        }
    }
    
    div.section {
        @extend .row;
    }
    
    ul.related {
        @extend .list-inline;
    }

}