nav.application-navbar {
    @extend .navbar;
    @extend .navbar-inverse;
  
    border-radius: 0px;
    margin-bottom: 0px;
    
    div.navbar-container {
        @extend .container;
        
        div.navbar-header {
            @extend .visible-xs;
            
            a.navbar-navigation {
                @extend .navbar-brand;
            }            
        }
        
        div.navbar {
            @extend .collapse;
            @extend .navbar-collapse;
            margin-bottom: 0px;
            border: none;
            
            ul.navbar-menubar {
                @extend .nav;
                @extend .navbar-nav;
            }
            
            ul.user-menubar {
                @extend .navbar-right;
            }
        }
        
    }
    
}
