table {
    .points-column {
        min-width: 25px
    }
    
    td.points-column {
        font-weight: bold;
    }
}

table.player-match-stats,
table.player-season-stats,
table.player-career-stats,
table.team-table-stats,
table.d11-team-table-stats {
    @extend .table-bordered;
    @extend .table-striped;
    @extend .table-hover;

    .position-column {
        @extend .hidden-sm;
    }
    
    .goals-column,
    .assists-column,
    .own-goals-column,
    .goals-conceded-column,
    .mom-column,
    .d11-team-column {
        @extend .hidden-xs;
    }
    
    td.unused-substitute-column.wide,
    td.did-not-participate-column.wide {
        @extend .hidden-xs;
    }

    td.unused-substitute-column.tiny,
    td.did-not-participate-column.tiny {
        display: none;
    }                                
        
    .position-column,
    .match-column,
    .appearances-column,
    .minutes-played-column,
    .goals-column,
    .own-goals-column,
    .assists-column,
    .goals-conceded-column,
    .yellow-card-column,
    .red-card-column,
    .yellow-cards-column,
    .red-cards-column,    
    .substitution-time-column,
    .substitution-time-column,
    .mom-column,
    .rating-column,
    .unused-substitute-column,
    .did-not-participate-column,
    th.points-column {
        text-align: center;
    }
    
    .goals-column,
    .own-goals-column,
    .assists-column,
    .goals-conceded-column,
    .yellow-card-column,
    .red-card-column,
    .yellow-cards-column,
    .red-cards-column,    
    .substitution-time-column,
    .substitution-time-column,
    .mom-column,
    .ranking-column,
    .rating-column,
    .points-column {
        min-width: 25px
    }
    
    .d11-team-column {
        min-width: 150px;
    }
    
    .season-column {
        min-width: 65px;
    }
    
    td.match-column {
        white-space: nowrap;
    }
    
    .date-column.long {
        @extend .hidden-xs;
    }
    
    .date-column.short,
    .team-simple-column {
        @extend .visible-sm;
    }

    .team-simple-column {
        @extend .visible-xs;
    }
    
    .fee-column {
        @extend .hidden-xs;
    }
}

table.player-season-stats {
    .team-column {
        min-width: 45px;
    }
}

div.premier-leagues.show-stats {
    table.player-season-stats {
        .form-column {
            @extend .visible-lg;
        }
        .team-column,
        .points-per-appearance-column,
        .yellow-cards-column,
        .red-cards-column {
            @extend .hidden-xs;
            @extend .hidden-sm;
        }
    }
}

div.d11-teams.show {
    table.player-season-stats {
        .d11-team-column {
            display: none;
        }
        
        .team-simple-column {
            @extend .visible-sm;
            @extend .visible-md;
            @extend .visible-lg;
        }            
    }
}

div.teams.show {
    table.player-season-stats {
        .team-column,
        .team-simple-column,
        .fee-column {
            display: none;
        }        
    }
}

@media only screen and (min-width: $screen-sm-min) {
    table.player-match-stats {
        td.unused-substitute-column.narrow,
        td.did-not-participate-column.narrow, {
            display: none;
        }                                
    }
}

@media only screen and (max-width: $screen-phone-portrait-max) {

    table.player-match-stats {
        .yellow-card-column,
        .red-card-column,
        .substitution-time-column {
            display: none;
        }

        td.unused-substitute-column.narrow,
        td.did-not-participate-column.narrow {
            display: none;
        }
        
        td.unused-substitute-column.tiny,
        td.did-not-participate-column.tiny{
            display: table-cell;
        }                                        
    }
    
    div.premier-leagues.show-stats {
        table.player-season-stats {
            .position-column,
            .appearances-column,
            .rating-column {
                display: none;
            }
        }
    }
}
