main {
    div.players.show {
        
        div.section {
            div.main-section {
                @include make-md-column(12);
                @include make-lg-column(9);                
            }
            
            div.related-section {
                @include make-sm-column(6);
                @include make-md-column(4);
                @include make-lg-column(3);
            }
        }
        
        div#player-profile-container {
            @include make-lg-column(12);
        }
        
        div#player-profile {        
            div.image-container {
                @include make-sm-column(3);
                @include make-md-column(3);
            }
            
            div.personal-information-container,
            div.season-information-container {
                @include make-sm-column(4);
                @include make-md-column(3);
    
                table {                
                    td {
                        border-top: none;
                        padding-top: 0px;
                        padding-bottom: 5px;
                    }
                }
            }
            
            dl {
                padding: 0px;
                min-width: 280px;
                dt {
                    float: left;
                    white-space: nowrap;
                }
                
                dd {
                    margin-left: 105px;
                    
                }
            }
                    
            div.player-photo {
                img.club-crest {
                    @extend .hidden-sm;
                    @extend .hidden-md;
                    @extend .hidden-lg;
                }
            }
            div.club-crest {
                @extend .hidden-xs;
                @extend .hidden-sm;
            }        
        }
        

        table.player-season-stats {
            .player-column,
            .team-column {
                display: none;
            }
            
            .form-column {
                @extend .hidden-xs;
                @extend .hidden-sm;                
            }
            
            .yellow-cards-column,
            .red-cards-column {
                @extend .hidden-xs;
            }
        }
        
        table.player-match-stats {
            .player-column,
            .position-column {
                display: none;
            }
            
            .d11-team-column {
                @extend .hidden-sm;
            }
        }
    }
}

@media only screen and (max-width: $screen-phone-portrait-max)  {
    main {
        div.players.show {    
            table.player-season-stats {
                .position-column,
                .appearances-column {
                    display: none;
                }
            }
        }
    }
}
