@import "dataTables/bootstrap/3/jquery.dataTables.bootstrap";
@import "dataTables/extras/dataTables.responsive";

main {
    
    table {
        @extend .table;
        border-color: $table-border-colour !important;

        th {
            background-color: $table-header-background-colour !important;
            color: $table-header-colour;
            font-size: 13px;
        }

        td {
            a.model-link {
                color: $table-model-link-colour;
            }
	    
            ul,
            ol {
                list-style: none;
                padding-left: 0px;
            }
        }

	tr.grouping {
	    th {
		text-align: center;
	    }
	}
	
        // Default column widths
        .main-column {
            width: 95%;
        }

        .date-column,
        .height-column,
        .weight-column,
        .whoscored-id-column {
            min-width: 100px;
        }

        .name-column,
        .nickname-column {
            min-width: 150px;
        }

        .country-column,
        .motto-column {
            min-width: 200px;
        }

        .icon-column {
            text-align: center;
        }

        .number-column {
            text-align: right;
        }

        .form-column {
          min-width: 110px;
          text-align: center;
        }
    }

    table.data {
        //	@extend .table-condensed;
        //@extend .table-striped;
        //@extend .table-hover;
        @extend .table-bordered;

        // Remove this if we remove .table-bordered.
        th, td  {
            border-bottom: 0 !important;
            border-left: 0 !important;
        }
    }

    table.list {
        @extend .table-striped;
        @extend .table-hover;
    }
    
    table.simple {
	width: 0%;
    }
}

/* Bootstrap overrides ------------------------------------------------------ */
main {
    div.panel > div.dataTables_wrapper > table.data {
	// Bootstrap only removes borders from tables directly under the panel div.
	// This removes extra borders from datatables in the wrapper div.
	border: 0;    
    }
    
    div.dataTables_length {
	// The jquery-datatables-rails bootstrap3 integration won't style this for some reason.
	select {
	    @extend .form-control;
	}
    }
    
    table.dataTable thead > tr > th {
	// One of the imports sets this to 18px.
	padding-left: 5px;
    }
    
    div.dataTables_info {
	padding-bottom: 8px;
    }
    
    div.dataTables_paginate {
	li#data-table_ellipsis {
	    // Get rid of the annoying ... buttons in the pagination
	    display: none;
	}
    }
    
    div.standard-panel table {
	margin-bottom: 0px;
    }
}

body {
    // Popup tooltip styling.
    div.tooltip {
        div.tooltip-inner {
            table {
                td {
                    padding: $table-condensed-cell-padding;
                }

                td.name-column {
                    text-align: left;
                }
            }
        }
    }
}

/* Specific tables ---------------------------------------------------------- */

table.league-table {
    span.position-difference-indicator-up {
	color: green;
    }	
    span.position-difference-indicator-down {
	color: red;
    }
}

table.league-table.simple {
    .matches-played-column,
    .matches-won-column,
    .matches-drawn-column,
    .matches-lost-column {
	@extend .hidden-lg;
	@extend .hidden-md;
    }
}

table.league-table.detailed {
    thead {
	tr.grouping {
	    th {
		border-top: none;
	    }
	}
    }
}

table.premier-league-table.detailed {
    tbody {
	tr:nth-child(n+1):nth-child(-n+3) {
	    background-color: $table-champions-league-color;

	    td:nth-child(n+3):nth-child(-n+7) {
		background-color: darken($table-champions-league-color, 10%);
	    }

	    td:nth-child(n+8):nth-child(-n+12) {
		background-color: darken($table-champions-league-color, 20%);
	    }

	    td:nth-child(n+13) {
		//background-color: darken($table-champions-league-color, 5%);
	    }
	}

	tr:nth-child(n+4):nth-child(-n+4) {
	    background-color: $table-champions-league-qualifier-color;

	    td:nth-child(n+3):nth-child(-n+7) {
		background-color: darken($table-champions-league-qualifier-color, 10%);
	    }

	    td:nth-child(n+8):nth-child(-n+12) {
		background-color: darken($table-champions-league-qualifier-color, 20%);
	    }
	}

	tr:nth-child(n+5):nth-child(-n+6) {
	    background-color: $table-europa-league-color;

	    td:nth-child(n+3):nth-child(-n+7) {
		background-color: darken($table-europa-league-color, 10%);
	    }

	    td:nth-child(n+8):nth-child(-n+12) {
		background-color: darken($table-europa-league-color, 20%);
	    }
	}

	tr:nth-child(n+7):nth-child(-n+17) {
	    td:nth-child(n+3):nth-child(-n+7) {
		background-color: darken($table-midtable-color, 5%);
	    }

	    td:nth-child(n+8):nth-child(-n+12) {
		background-color: darken($table-midtable-color, 10%);
	    }
	}

	tr:nth-child(n+18) {
	    background-color: $table-relegation-color;

	    td:nth-child(n+3):nth-child(-n+7) {
		background-color: darken($table-relegation-color, 10%);
	    }

	    td:nth-child(n+8):nth-child(-n+12) {
		background-color: darken($table-relegation-color, 20%);
	    }
	}

	td:nth-child(7),
	td:nth-child(12),
	td:nth-child(21) {
	    font-weight: bold;
	}
    }
}

table.match-date-fixtures {
    .time-column {
        width: 80px;
	@extend .hidden-xs;
    }

    .time-elapsed-column {
        width: 50px;
        text-align: center;
    }
    
    .team-column {
        width: 240px;
    }
    
    .result-column {
        text-align: center;
        width: 60px;
    }

    .home-team-column {
        img.club-crest {
            padding-right: 4px;
        }
    }
    
    .away-team-column {
        text-align: right;
        img.club-crest {
            padding-left: 4px;
        }        
    }
    
    .stadium-column {
        @extend .visible-lg;
    }
    
    .team-simple-column {
	div.team-name {
	    font-weight: bold;
	}	
    }
    
    .team-simple-column,
    .result-simple-column {
	ol {	    
	    margin-bottom: 0px;
	}
	
	div.team-name {
	    margin-top: 6px;
	}
    }
    
    ul.match-events {
        padding-top: 6px;
	margin-bottom: 0px;
    }
}

table.rules-table {
    @extend .table-striped;
    
    col,
    th,
    td {
	width: 130px;
    }
}
/* Tablet screen overrides -------------------------------------------------- */

@media only screen and (min-width: $screen-tablet-landscape-min) and (max-width: $screen-tablet-landscape-max) {
    table.premier-league-table.detailed {
	thead {
	    tr.grouping {
		th.wide {
                    display: none;
		}
	    }
	    th.home-column.goals-for-column,
	    th.home-column.goals-against-column,
	    th.away-column.goals-for-column,
	    th.away-column.goals-against-column {
		display: none;
	    }
	}
	
	tbody {
	    td:nth-child(4),
	    td:nth-child(5),
	    td:nth-child(9),
	    td:nth-child(10) {
		display: none;
	    }
	}
    }
}    

@media only screen and (max-width: $screen-tablet-portrait-max) {
    table.premier-league-table.detailed {
	thead {
	    tr.grouping {
		display: none;		
	    }
	    
	    th {
		border-top: none;
	    }
	    th.home-column,
	    th.away-column {
		display: none;
	    }			    
	}
	
	tbody {
	    td:nth-child(n+3):nth-child(-n+12) {
		display: none;
	    }	    
	}	
    }    
}

/* Phone screen overrides --------------------------------------------------- */

@media only screen and (max-width: 767px) {
    main {    
	div.dataTables_wrapper {
	    div.col-xs-6 {
		// Stack the extra controls added to the page by datatables on top of each
		// other on xs screens.
		@include make-xs-column(12);
	    
		// Some things (like Safari on iOS) display these as block elements as default for some reason.
		select,
		input {
		    display: inline;
		}
		
		// Label is the filter, the div is the pagination controls. No idea why
		// datatables wraps the filter in a label instead of a div but that's how it is.
		label,
		div.dataTables_paginate {
		    float: none;
		}
		
		div.dataTables_paginate {
		    ul {
			margin-left: 0px;
		    }                
		}	    
	    }
	}
    }
}

@media only screen and (min-width: $screen-desktop-min) {
    table.premier-league-table.detailed {
	thead {
	    tr.grouping {
	        th.medium {
		    display: none;
		}
	    }
	}
    }    
}

@media only screen and (min-width: $screen-phone-landscape-min) {
    table.match-date-fixtures {
	.team-simple-column,
	.result-simple-column {
	    display: none;    
	}
    }
}

@media only screen and (max-width: $screen-phone-portrait-max) {
    table.match-date-fixtures {
	.team-column,
	.result-column {
	    display: none;    
	}
    }
    
    table.league-table {
	.matches-played-column,
	.matches-won-column,
	.matches-drawn-column,
	.matches-lost-column {
	    display: none;
	}
    }
}