span.form-result {
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: white;

  a {
    color: white;
  }
}

span.form-result.win {
  background-color: $win-color;
}

span.form-result.draw {
  background-color: $draw-color;
}

span.form-result.loss {
  background-color: $loss-color;
}

div.preview {
    dl.match-preview {        
        margin-bottom: 0px;
    }
}

table.match-date-fixtures {
    dl.match-preview {        
        padding-top: $padding-base-vertical;
    }
}