span.form-result {
  font-weight: bold;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: white;
  border-radius: $result-border-radius;
  @include gradient-vertical($start-color: $dropdown-link-hover-bg, $end-color: darken($dropdown-link-hover-bg, 5%));
  a {
    color: white;
  }
}

span.form-result.win {
  @include gradient-vertical($start-color: $win-color, $end-color: darken($win-color, 15%));
}

span.form-result.draw {
  @include gradient-vertical($start-color: $draw-color, $end-color: darken($draw-color, 15%));
}

span.form-result.loss {
  @include gradient-vertical($start-color: $loss-color, $end-color: darken($loss-color, 15%));
}

div.preview {
    ul.match-preview {
        padding-top: $padding-base-vertical;
        li.match-preview-label {
            font-weight: bold;
        }
    }
}