div.transfer-days {
    div.main-section {        
        table.transfers,
        table.transfer-listings,
        table.transfer-bids {
            .position-column,
            .appearances-column,
            .points-per-appearance-column,
            .rating-column {
                text-align: center;
            }
            
            .ranking-column,
            .appearances-column,
            .points-per-appearance-column,
            .rating-column {
                @extend .hidden-xs;    
            }
            
            .form-column {
                @extend .hidden-md;
                @extend .hidden-xs;                
            }
            
            .d11-team-column {
                @extend .visible-lg;
            }
            
            .d11-team-simple-column {
                @extend .hidden-lg;
            }            
        }
        
        table.transfers {            
            tfoot {
                @extend .hidden-xs;
                td.simple {
                    @extend .visible-md;
                }
                td.detailed {
                    @extend .hidden-md;
                }                                
            }
        }
        
        table.transfer-listings {
            @extend .table-striped;
            @extend .table-hover;
                        
            .d11-team-column {
                border-right: none;
                min-width: 110px;
            }
            .d11-team-simple-column {
                min-width: 50px
            }
        }
        
        table.transfer-bids {
            .points-column,
            .fee-column {
                @extend .hidden-xs;    
            }
            
            .appearances-column,
            .points-per-appearance-column,
            .rating-column {
                display: none;
            }
            
            .player-ranking-column,
            .d11-team-ranking-column {
                @extend .hidden-sm;
                @extend .hidden-xs;
            }
            
            .successful-column {
                min-width: 40px;
                text-align: center;
            }
            
            .inactive-bid-row {
                font-style: italic;
                opacity: 0.5;
            }            
        }        
    }
    
    div.related-section {
        div.section {
            div {
                @include make-sm-column(6);
                @include make-md-column(12);
            }
        }
    }
}

@media only screen and (max-width: $screen-phone-portrait-max)  {
    div.transfer-days {
        div.main-section {
            table.transfers,
            table.transfer-listings,
            table.transfer-bids {
                .team-simple-column {
                    display: none;
                }
            }
            
            table.transfers {                
                .position-column,
                .points-column {
                    display: none;
                }
            }
            
            table.transfer-listings {
                .d11-team-simple-column {
                    display: none;
                }
            }
            
            table.transfer-bids {
                .position-column,
                .successful-column {
                    display: none;
                }
            }
        }
    }
}

/*
div.transfer-daysss {
    div.section {
        div.main-section {
            min-height: 500px !important; 
        }
        div.related-section {
            @include make-sm-column(6);
//            @include make-md-column(4);
//            @include make-lg-column(3);

            table.transfers {
                .d11-team-column {
                    min-width: 0px;
                }
                
                .d11-team-column {
                    @extend .visible-xs;
                    @extend .visible-sm;
                    @extend .visible-md;
                    @extend .visible-lg;
                }                
            }
        }
    }
    
    table.transfers {
        .team-column {
            @extend .visible-lg;
        }
        
        .team-simple-column {
            @extend .visible-xs;
            @extend .visible-sm;
            @extend .visible-md;
        }
                
        .d11-team-simple-column {
            @extend .visible-xs;
        }
    }
    
    table.transfer-listings {
        .d11-team-simple-column {
            @extend .visible-xs;
        }        
    }
    
    table.transfer-bids,
    table.transfer-listings {
        .ranking-column {
            display: none;
        }
        
        .mom-column,
        .position-column,
        .appearances-colum,
        .player-ranking-column,
        .d11-team-ranking-column,
        .points-per-appearance-column {
            text-align: center;
        }
        
        .d11-team-column {
            min-width: 125px;
            @extend .hidden-xs;
        }

        .d11-team-simple-column {
            min-width: 40px;
        }
        
        .form-column {
            @extend .hidden-md;
            @extend .hidden-xs;
        }
                
        .mom-column,
        .points-per-appearance-column {
            @extend .visible-lg;
        }
        
        .appearances-column{
            @extend .hidden-xs;
        }
        
        .successful-column {
            min-width: 40px;
            text-align: center;
        }
    }
    
    table.transfer-bids {
        .inactive-bid-row {
            font-style: italic;
            opacity: 0.5;
        }
        
        .team-simple-column,
        .d11-team-simple-column {
            @extend .hidden-lg;
        }
        
        .d11-team-simple-column {
            @extend .hidden-sm;
        }
        
        .d11-team-column {
            @extend .hidden-md;
        }
        
        .team-column {
            @extend .visible-lg;
        }
        
        .position-column,
        .player-ranking-column,
        .fee-column,
        .d11-team-ranking-column {
            @extend .hidden-xs;
        }
    }
}

@media only screen and (max-width: $screen-phone-portrait-max)  {
    mainn {
        div.transfer-days {
            table.transfers {
                .ranking-column,
                .team-simple-column,
                tfoot {
                    display: none !important;
                }
            }
            
            table.transfer-listings {
                .team-column,
                .position-column,
                .rating-column {
                    display: none;
                }
            }
            
            table.transfer-bids {
                .team-simple-column{
                    display: none;
                }
            }
        }
    }
}
*/