div.transfer-days {
    div.main-section {        
        table.transfers,
        table.transfer-listings,
        table.transfer-bids {        
            .position-column,
            .appearances-column,
            .points-per-appearance-column,
            .rating-column {
                text-align: center;
            }
            
            .ranking-column,
            .appearances-column,
            .points-per-appearance-column,
            .rating-column {
                @extend .hidden-xs;    
            }
            
            .form-column {
                @extend .hidden-md;
                @extend .hidden-xs;                
            }
            
            .d11-team-column {
                @extend .visible-lg;
            }
            
            .d11-team-simple-column {
                @extend .hidden-lg;
            }            
        }
        
        table.transfers {            
            tfoot {
                @extend .hidden-xs;
                td.simple {
                    @extend .visible-md;
                }
                td.detailed {
                    @extend .hidden-md;
                }                                
            }
        }
        
        table.transfer-listings {
            @extend .table-striped;
            @extend .table-hover;
                        
            .d11-team-column {
                border-right: none;
                min-width: 110px;
            }
            .d11-team-simple-column {
                min-width: 50px
            }
        }
        
        table.transfer-bids {
            .points-column,
            .fee-column {
                @extend .hidden-xs;    
            }
            
            .appearances-column,
            .points-per-appearance-column,
            .rating-column {
                display: none;
            }
            
            .player-ranking-column,
            .d11-team-ranking-column {
                @extend .hidden-sm;
                @extend .hidden-xs;
            }
            
            .successful-column {
                min-width: 40px;
                text-align: center;
            }
            
            .inactive-bid-row {
                font-style: italic;
                opacity: 0.5;
            }            
        }        
    }
    
    div.related-section {
        div.section {
            div {
                @include make-sm-column(6);
                @include make-md-column(12);
            }
        }
    }
}

@media only screen and (min-width: $screen-tablet-portrait-min)  {
    div.transfer-day-summary {
        div#transfer-day-top-transfer-listings,
        div#transfer-day-highest-bids,
        div#transfer-day-most-expensive-transfers,
        div#transfer-day-stats {
            min-height: 500px;
        }
    }
}

@media only screen and (max-width: $screen-phone-portrait-max)  {
    div.transfer-days {
        div.main-section {
            table.transfers,
            table.transfer-listings,
            table.transfer-bids {
                .team-simple-column {
                    display: none;
                }
            }
            
            table.transfers {                
                .position-column,
                .points-column {
                    display: none;
                }
            }
            
            table.transfer-listings {
                .d11-team-simple-column {
                    display: none;
                }
            }
            
            table.transfer-bids {
                .position-column,
                .successful-column {
                    display: none;
                }
            }
        }
    }
}
