// Screen sizes
$screen-desktop-min: $screen-lg-min;
$screen-tablet-landscape-max: $screen-desktop-min - 1;
$screen-tablet-landscape-min: $screen-md-min;
$screen-tablet-portrait-max: $screen-tablet-landscape-min - 1;
$screen-tablet-portrait-min: 481px;
$screen-phone-landscape-max: $screen-tablet-portrait-min - 1;
$screen-phone-landscape-min: 376px; // iPhone 5 321px, iPhone 6 376px
$screen-phone-portrait-max: $screen-phone-landscape-min - 1;

// Fonts
$navbar-font-family: $font-family-sans-serif;
$navbar-font-weight: normal;
$navbar-font-size: 13px;

$dropdown-font-family: $font-family-sans-serif;
$dropdown-font-weight: normal;
$dropdown-font-size: 13px;

$dropdown-header-font-family: $font-family-sans-serif;
$dropdown-header-font-weight: normal;
$dropdown-header-font-size: 12px;

$breadcrumb-font-family: $font-family-sans-serif;
$breadcrumb-font-weight: normal;
$breadcrumb-font-size: 13px;

// Borders
$default-border: 1px solid $panel-default-border;
$header-input-border-radius: $border-radius-base;
$panel-border-radius: 0;

