<p>Hello <%= @resource.email %>!</p>

<% if @resource.provider.nil? %>
<p>Someone has requested a link to change your password for Drömelvan. You can do this through the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request these instructions, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
<% else %>
<p>Someone has requested a link to change your password for Drömelvan. However, since your account
was signed up from a social media site you will have to contact an administrator to change it to
a Drömelvan account to get a password för the Drömelvan site.</p>

<p>If you didn't request these instructions, please ignore this email.</p>
<% end %>