<% provide :title, "Match Day #{@match_day.match_day_number}"
   provide :breadcrumbs, breadcrumbs([ @match_day.premier_league.season, @match_day.premier_league, :select_name ],  premier_league: @match_day.premier_league ) %> 
  
<h1><%= @match_day.name %></h1>
<%= render 'layouts/administration_links', resource: @match_day %>
