<% provide :title, "Match Day #{@match_day.match_day_number}"
   provide :breadcrumbs, breadcrumbs([ :class ]) %> 
  
<h1>Match Day <%= @match_day.match_day_number %></h1>
<%= render 'layouts/administration_links', resource: @match_day %>
