<% if administrator_signed_in? %>
<p class="administration-links">
  <% if route_exists?( { controller: controller_name, action: 'edit' }) %>
  <%= link_to "Edit", edit_polymorphic_path(resource) %>
  <% else %>
  <%= link_to "Edit", rails_admin.edit_path(model_name: resource.class.name, id: resource.id) %>
  <% end %>
  
  <% if !resource.has_dependents? %>
    <%= link_to "Delete", rails_admin.delete_path(model_name: resource.class.name.tableize.singularize, id: resource.id), class: "delete_link" %>
  <% end %>
</p>
<% end %>