<footer class="application-footer">
  <div class="footer-container">
    <div class="section">
      <div class="version-information">
        <nav>
            <small><a href="http://dromelvan.dyndns.org/">Drömelvan</a> v. <%= Rails.configuration.version %></small>
        </nav>
      </div>
      <div class="contact-information">
        <nav>
          <ul class="related">
            <li><small><%= link_to "About Drömelvan", main_app.about_path %></small></li>
            <li><small><%= link_to "GitHub", "https://github.com/dromelvan/dromelvan" %></small></li>
            <li><small><%= mail_to "dromelvan snabel-a aland punkt net", 'Contact' %></small></li>
          </ul>
        </nav>
      </div>      
    </div>
  </div>    
</footer>
