<% if defined?(resource) && resource.errors.any? %>
<div class="alert alert-danger">
  The form contains <%= pluralize(resource.errors.count, "error") %>.
</div>
<div class="validation-errors">
  <ul class="validation-errors">
  <% resource.errors.full_messages.each do |msg| %>
  <li><%= msg %>.</li>          
  <% end %>
  </ul>
</div>
<% end %>
